/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
html, body {
  background-color: #313131;
}

/* line 12, ../sass/screen.scss */
#map {
  display: flex;
  flex-wrap: wrap;
  background-color: #1E9E98;
}
/* line 16, ../sass/screen.scss */
#map .tile {
  border: 1px solid black;
  display: inline-block;
  flex-grow: 2;
  height: 100px;
  width: calc(100% * (1/6) - 10px - 1px);
}
/* line 22, ../sass/screen.scss */
#map .tile.land {
  background-color: #098414;
}

/* line 28, ../sass/screen.scss */
#console {
  background-color: 333;
  float: right;
  width: 78vw;
  height: 100vh;
  overflow: scroll;
}
/* line 34, ../sass/screen.scss */
#console .log_con {
  position: relative;
  top: 4vh;
  font-weight: bold;
  display: block;
}
/* line 37, ../sass/screen.scss */
#console .log_con div {
  border-bottom: 1px solid black;
  padding: 1em;
  color: #fff;
  font-weight: bold;
}
/* line 45, ../sass/screen.scss */
#console .log_con .red {
  background-color: #660A0C;
  color: #fff;
}
/* line 49, ../sass/screen.scss */
#console .log_con .dead {
  background-color: #151414;
  border: 1px dashed red;
}
/* line 53, ../sass/screen.scss */
#console .log_con .green, #console .log_con .happy {
  background-color: #138E1D;
}
/* line 57, ../sass/screen.scss */
#console .log_con .blue {
  background-color: #11369C;
  color: #fff;
}
/* line 62, ../sass/screen.scss */
#console .stats {
  background-color: #f1f1f1;
  color: #000;
  width: 100%;
  position: static;
  top: 0;
  line-height: 4vh;
  font-weight: bold;
  height: 4vh;
}

/* line 74, ../sass/screen.scss */
.regmenu a {
  padding: 15px;
}

/* line 78, ../sass/screen.scss */
#registry {
  float: left;
  box-sizing: border-box;
  width: 19.5vw;
  overflow: scroll;
  height: 100vh;
}
/* line 85, ../sass/screen.scss */
#registry ul {
  box-sizing: border-box;
  background-color: #f1f1f1;
}
/* line 88, ../sass/screen.scss */
#registry ul li {
  margin-left: 25px;
  padding: 15px;
  border-bottom: 1px solid black;
}
/* line 94, ../sass/screen.scss */
#registry ul li a.alive {
  color: darkgreen;
  font-weight: bold;
}
/* line 98, ../sass/screen.scss */
#registry ul li a.dead {
  color: black;
  font-weight: bold;
}
