@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  animation-iteration-count: 1;
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }
/* CSS Document */
